<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>TASK_NAME&nbsp|&nbsp;PACKAGE_NAME</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
	
	<link rel="stylesheet" href="TASK_DOCROOT../../res/bootstrap.min.css" >
	<link rel="stylesheet" href="TASK_DOCROOT../../res/doc-saker.css" >
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "WebSite",
	  "name": "PACKAGE_NAME",
	  "url": "https://saker.build/PACKAGE_NAME/taskdoc"
	}
	</script>
</head>
<body data-nav-location="taskdoc" data-subdoc-presence="DOC_DATA_PRESENCE">
DOC_NAV_TEMPLATE
<nav class="taskdoc-nav" data-nav-location="TASK_PAGENAME">
	<div class="container">
		<span class="taskdoc-nav-title">TaskDoc</span>
		<a class="nav-location-item" data-nav-location="taskdoc-index" href="TASK_DOCROOTindex.html" title="Task doc index">Index</a>
	</div>
</nav>
<div class="container page-contents taskdoc">
	<div class="taskdoc-content">
	TASK_DOCBODY
	</div>
</div>
DOC_FOOTER_TEMPLATE
</body>
</html>