<div class="doc-nav-bar">
	<div class="container">
		<a class="home-link" href="/index.html" title="saker.build"><img style="height: 2.5em;" class="logo" src="/res/logo.svg"/><span class="page-name">saker.build</span></a>
		<div class="nav-bar-controls">
			<a class="nav-bar-special" href="/saker.build/doc/installation.html" title="saker.build installation">Download</a>
			<label class="d-lg-none nav-bar-collapse" for="collapse-nav-bar-label">
				<svg style="height: 1.5em;" viewBox="0 0 24 24">
				    <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
				</svg>
			</label>
			<input style="display:none;" id="collapse-nav-bar-label" type="checkbox"/>
			<div class="nav-bar-items">
				<a href="/saker.build/doc/index.html" title="saker.build documentation">Documentation</a>
				<a href="/buildtrace.html" title="Build trace viewer">Build trace</a>
				<a style="display:none;" href="/sponsor.html" title="Sponsoring development">Sponsor</a>
				<a href="/blog/" title="saker.build system blog">Blog</a>
				<a class="no-external-icon" href="https://github.com/sakerbuild/saker.build" title="saker.build GitHub repository">GitHub</a>
			</div>
		</div>
	</div>
</div>